/* font-family: 'Poppins', sans-serif; 
font-family: 'Open Sans', sans-serif;*/

header {
  background-color: aqua;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}